#collection_list:hover svg {
    display: block;
}

.wallet-info {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/276/463/large_2x/white-background-vector.jpg");
    background-size: cover;
}

.address-card {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp3474992.jpg&f=1&nofb=1&ipt=09ac8da4e025201aaa0b70f9deb63203163fa80e857bc5ca72a02d9d6b956b03&ipo=images");
    background-size: cover;
}

/* .profile-page {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd39l2hkdp2esp1.cloudfront.net%2Fimg%2Feps%2FE2972_2x%2Fc%2FE2972_02.jpg%3F20160614045745&f=1&nofb=1&ipt=85086f64e350c84030a1c857360de1e6acd6dd4ca5b593ddde8a6cf63ab1197b&ipo=images");
    background-size: cover;
} */