#collection_list:hover svg {
    display: block;
}

.wallet-info {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/276/463/large_2x/white-background-vector.jpg");
    background-size: cover;
}
